src/main/resources/WSCustomerBaseInfo11Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<wsdl:definitions xmlns:tns="http://WSCustomerBaseInfo11.EQ.CS.ws.alfabank.ru"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsio="http://WSCustomerBaseInfoInOutParms11.EQ.CS.ws.alfabank.ru"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsct="http://WSCommonTypes10.CS.ws.alfabank.ru" xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  name="WSCustomerBaseInfo11" targetNamespace="http://WSCustomerBaseInfo11.EQ.CS.ws.alfabank.ru">
    <wsdl:types>
        <xsd:schema targetNamespace="http://WSCustomerBaseInfo11.EQ.CS.ws.alfabank.ru">
            <xsd:import namespace="http://WSCommonTypes10.CS.ws.alfabank.ru"
                        schemaLocation="WSCustomerBaseInfo11Service1.xsd"/>
            <xsd:import namespace="http://WSCustomerBaseInfoInOutParms11.EQ.CS.ws.alfabank.ru"
                        schemaLocation="WSCustomerBaseInfo11Service2.xsd"/>
            <xsd:element name="WSCustomerBaseInfoGet" type="tns:WSCustomerBaseInfoGet"/>
            <xsd:complexType name="WSCustomerBaseInfoGet">
                <xsd:sequence>
                    <xsd:element name="inCommonParms" type="wsct:WSCommonParms"/>
                    <xsd:element name="inParms" type="wsio:WSCustomerBaseInfoGetInParms"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WSCustomerBaseInfoGetResponse" type="tns:WSCustomerBaseInfoGetResponse"/>
            <xsd:complexType name="WSCustomerBaseInfoGetResponse">
                <xsd:sequence>
                    <xsd:element name="outParms" type="wsio:WSCustomerBaseInfoGetOutParms"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="msgWSCustomerBaseInfoGet">
        <wsdl:part name="WSCustomerBaseInfoGet" element="tns:WSCustomerBaseInfoGet"/>
    </wsdl:message>
    <wsdl:message name="msgWSCustomerBaseInfoGetResponse">
        <wsdl:part name="WSCustomerBaseInfoGetResponse" element="tns:WSCustomerBaseInfoGetResponse"/>
    </wsdl:message>
    <wsdl:message name="msgWSTechnicalException">
        <wsdl:part name="WSTechnicalException" element="wsct:WSTechnicalException"/>
    </wsdl:message>
    <wsdl:message name="msgWSAppTechnicalException">
        <wsdl:part name="WSAppTechnicalException" element="wsct:WSAppTechnicalException"/>
    </wsdl:message>
    <wsdl:message name="msgWSAppException">
        <wsdl:part name="WSAppException" element="wsct:WSAppException"/>
    </wsdl:message>
    <wsdl:message name="msgWSAccessException">
        <wsdl:part name="WSAccessException" element="wsct:WSAccessException"/>
    </wsdl:message>
    <wsdl:message name="msgWSVerificationException">
        <wsdl:part name="WSVerificationException" element="wsct:WSVerificationException"/>
    </wsdl:message>
    <wsdl:portType name="WSCustomerBaseInfoPortType">
        <wsdl:operation name="WSCustomerBaseInfoGet">
            <wsdl:input message="tns:msgWSCustomerBaseInfoGet"/>
            <wsdl:output message="tns:msgWSCustomerBaseInfoGetResponse"/>
            <wsdl:fault name="WSTechnicalException" message="tns:msgWSTechnicalException"/>
            <wsdl:fault name="WSAppTechnicalException" message="tns:msgWSAppTechnicalException"/>
            <wsdl:fault name="WSAppException" message="tns:msgWSAppException"/>
            <wsdl:fault name="WSAccessException" message="tns:msgWSAccessException"/>
            <wsdl:fault name="WSVerificationException" message="tns:msgWSVerificationException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSCustomerBaseInfo11Binding" type="tns:WSCustomerBaseInfoPortType">
        <wsp:PolicyReference URI="#WSCustomerBaseInfo11BindingPolicy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="WSCustomerBaseInfoGet">
            <soap:operation soapAction="/CS/EQ/WSCustomerBaseInfo11#Get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WSTechnicalException">
                <soap:fault name="WSTechnicalException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSAppTechnicalException">
                <soap:fault name="WSAppTechnicalException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSAppException">
                <soap:fault name="WSAppException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSAccessException">
                <soap:fault name="WSAccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="WSVerificationException">
                <soap:fault name="WSVerificationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSCustomerBaseInfo11Service">
        <wsdl:port name="WSCustomerBaseInfo11Port" binding="tns:WSCustomerBaseInfo11Binding">
            <soap:address location="http://172.22.0.70:8080/UniServices/WSCustomerBaseInfo11Service"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="WSCustomerBaseInfo11BindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>